name: Build Plugin and Mod

on:
  push:
    branches:
      - cleanroom-1.12.2
  workflow_dispatch:
    inputs:
      publish_beta:
        description: '是否发布 Beta 版本'
        required: false
        default: 'false'
        type: choice
        options:
          - 'false'
          - 'true'


jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
      GH_USERNAME: ${{ github.actor }}
      PACKAGE_READ_ONLY_TOKEN: ${{ secrets.PACKAGE_READ_ONLY_TOKEN }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Java & Gradle
        uses: ./.github/actions/set-java-gradle
        with:
          java-version: '17'

      - name: Preload Dependencies
        shell: bash
        run: ./gradlew --no-daemon dependencies

      - name: Read version.txt and save to variable
        run: |
          mod_version=$(cat version.txt)
          echo "Version: $mod_version"
          echo "MOD_VERSION=$mod_version" >> $GITHUB_ENV

      - name: Build
        run: |
          ./gradlew clean build

      - name: Set Version Type
        id: set-version-type
        run: |
          if [ "${GITHUB_REF}" == "refs/heads/cleanroom-1.12.2" ]; then
            echo "VERSION_TYPE=release" >> $GITHUB_ENV
          else
            echo "VERSION_TYPE=beta" >> $GITHUB_ENV
          fi

      - uses: Kir-Antipov/mc-publish@v3.3
        if: |
          (github.ref == 'refs/heads/cleanroom-1.12.2' && github.event_name == 'push') ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish_beta == 'true')
        with:
          modrinth-id: rVJvtYoX
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge-id: 1084495
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          name: QueQiao-forge+1.12.2-${{ env.MOD_VERSION }}
          version: ${{ env.MOD_VERSION }}
          version-type: ${{ env.VERSION_TYPE }}
          loaders: forge
          game-versions: 1.12.2
          files: build/libs/QueQiao-forge+1.12.2-${{ env.MOD_VERSION }}.jar
